.roundup-bg {
  color: white;
  background: url(https://i.imgur.com/DXQyuwr.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.3em;
  margin-bottom: 2%;
}

h4 {
  padding: .2%;
}

.chartSize {
  width: 80%;
  height: 80%;
  display: inline-block;
}