
.background {
  margin-top: -5%;
  margin-bottom: -5%;
  background: url(https://i.imgur.com/YDBp1Yl.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 50%;
  align-items: center;
  text-align: center;
  z-index: -1;
  height: 1150px;
}

.loginform {
  justify-content: center;
  align-content: center;
  height: 1100px;
  margin: 0 auto;
  font-size: 1.15em;
}


input#formBasicEmail.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0;
  color: white;
}

input[type=text], textarea {
  ouline: none;
}

input#formBasicEmail.form-control::placeholder {
  color: white;
  ;
}

input#formBasicPassword.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0;
  color: white;
  font-size: 1.15em;
}

input[type=text], textarea {
  ouline: none;
}

input#formBasicPassword.form-control::placeholder {
  color: white;
  ;
}

.btn {
  display:flex;
  justify-content:flex-end;
  align-items:center;
  border:  1px solid white;
  color: white;
}

.btn:hover {
  color: white;
  border:  1px solid black;
}

.div.form-check {
  display: flex;
}

.form-check-label {
  color: white;
}